<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Figure</title>
  </head>
  <body>
    <form action="/figures" method="post">

      Name:  <input type="text" id="figure_name" name="figure[name]" value="">

        <br></br>

      <label>Enter a new title or landmark:</label>

      Title: <input type="text" id="new_title" name="title[name]" value="">

      Landmark: <input type="text" id="new_landmark" name="landmark[name]" value="">

      <br></br>

      <label>Or choose from an existing one:</label>

      <br></br>

      Title:

      <br></br>

      <%Title.all.each do |title|%>
        <label><%=title.name%></label>
        <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>"><br>
      <%end%>

      <br></br>

      Landmark:

      <br></br>

      <%Landmark.all.each do |landmark|%>
        <label><%=landmark.name%></label>
        <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%=landmark.id%>"><br>
      <%end%>

      <br></br>

      <input type="submit" value="Create New Figure">
    </form>
  </body>
</html>
